h1 {
/*  font-family: 'Rouge Script', cursive;
  font-size: 150px;*/
}

#start {
  
}

#reset {
  display: none;
}

#hit {
  display: none;
}

#stay {
  display: none;
}

#bankrollmessage {

}

#message, #displayTotal, #message2 {
  color: black;
}

#input {
  display: none;
}

#submit {
  display: none;
}

#playerCard, #dealerCard {
  border: 1px solid black;
  border-radius: 25px;
  display: none;
  height: 200px;
  padding: 10px;
  width: 200px;
}