h1 {
/*  font-family: 'Rouge Script', cursive;
  font-size: 150px;*/
}

#start {
  
}

#reset {
  display: none;
}

#hit {
  display: none;
}

#stay {
  display: none;
}

#bankrollmessage {

}

#message1, #displayPlayerTotal, #message2, #displayDealerTotal {
  color: black;
}

#input {
  display: none;
}

#submit {
  display: none;
}

#playerContainer, #dealerContainer {
  display: block;
  height: 100px;
  margin: 10px;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.player, .dealer {
  border: 1px solid black;
  display: inline-block;
  height: 90px;
  margin: 5px;
  padding: 10px;
  text-align: left;
  width: 20%;
}